{% extends "dequorum/base.html" %}

{% block content %}

<h1> {{ thread.title }} [{{ messages.count }} messages] </h1>

{% for message in messages %}
    <div class="messageBox">
        <div class="{% cycle 'messageHead1' 'messageHead2' %}">
            <h2> By: {{ message.author }} </h2>
            <p class="dateTime">{{ message.created|date }} | {{ message.created|time }}</p>
        </div>
        <div class="{% cycle 'messageBody1' 'messageBody2' %}">
            {{ message.body }}
        </div>
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <h2>Add new reply</h2>
    <form method="POST" action="">
        {% csrf_token %}
            {{ form.body }} <br /><br />
        <button type="submit">Create</button>
    </form>
{% endif %}

{% endblock %}
