{% extends "dequorum/base.html" %}

{% block content %}

<h1> Threads </h1>

{% if user.is_authenticated %}
    <a href="{% url 'thread-create' %}" class="button">Create Thread</a>
{% endif %}

    <h2> FIlter by tags </h2>
    <form method="GET" action="">
    <table>
        {{ tag_form.as_table }}
        <button type="submit">Filter</button>
    </table>
    </form>
{% for thread in threads %}
    <div class="{% if forloop.first %}topborder {% endif %}{% cycle 'thread1' 'thread2' %}">
        <h2><a href="{% url 'thread-detail' thread_pk=thread.pk %}">{{ thread.title }}</a></h2>
        <small>Created by {{ thread.owner }} at {{ thread.created }}</small><br />
        {% for tag in thread.tags.all %}
		<small><a href="?tag={{ tag.pk|urlencode }}">{{ tag.name }}</a></small>{% if not forloop.last %} | {% endif %}
        {% endfor %}
        <p> {{ thread.messages.count }} Messages </p>
    </div>
{% endfor %}


{% endblock %}
