{% extends "dequorum/base.html" %}

{% block content %}

<h1> Threads </h1>

<table>
{% if user.is_authenticated %}
    <caption><a href="{% url 'thread-create' %}">Create Thread</a></caption>
{% endif %}
    <thead>
        <tr>
            <th> Thread </th>
            <th> Messages </th>
            <th> Tags </th>
        </tr>
    </thead>
    <tbody>
{% for thread in threads %}
    <tr>
        <td> <a href="{% url 'thread-detail' pk=thread.pk %}">{{ thread.title }}</a> </td>
        <td> {{ thread.messages.count }} </td>
        <td> {% for tag in thread.tags.all %}{{ tag.name }} {% endfor %} </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
